<div class="orders-page">

  <div class="orders-header">

    <h1>
      Comenzile mele
    </h1>

    <p>
      Istoricul cumpărăturilor
    </p>

  </div>

  <!-- EMPTY -->
  <div *ngIf="!orders.length"
       class="empty-orders">

    <div class="empty-icon">
      📦
    </div>

    <h3>
      Nu există comenzi încă
    </h3>

  </div>

  <!-- ORDERS -->
  <div class="orders-list">

    <div class="order-card"

         *ngFor="let o of orders"

         (click)="toggleOrder(o.orderId)">

      <!-- SUMMARY -->
      <div class="order-summary">

        <!-- LEFT -->
        <div>

          <h4>

            Comanda Nr. #{{ o.orderId }}

          </h4>

          <p>

            {{ o.orderDate | date:'dd MM yyyy - HH:mm' : 'UTC+6' }}

          </p>

        </div>

        <!-- CENTER -->
        <div class="summary-middle">

          <span class="items-count">

            {{ o.items.length }}
            produse

          </span>

          <span class="status-badge"
                [ngClass]="{
                  'completed': o.status === 'Completed',
                  'pending': o.status === 'Pending',
                  'cancelled': o.status === 'Cancelled'
                }">

            {{ o.status }}

          </span>

        </div>

        <!-- RIGHT -->
        <div class="summary-right">

          <h3>

            {{ o.totalAmount }} RON

          </h3>

          <div class="expand-icon">

            {{ expandedOrderId === o.orderId ? '▲' : '▼' }}

          </div>

        </div>

      </div>

      <!-- EXPANDED -->
      <div [@expandAnimation]="
             expandedOrderId === o.orderId
             ? 'expanded'
             : 'collapsed'
           "

           class="expanded-content">

        <div class="products-list">

          <div class="product-row"

               *ngFor="let item of o.items">

            <!-- IMAGE -->
            <img [src]="item.imageUrl
                 ? apiUrl + item.imageUrl
                 : 'https://placehold.co/200x200?text=No+Image'">

            <!-- INFO -->
            <div class="product-info">

              <h5>

                {{ item.productName }}

              </h5>

              <p>

                {{ item.quantity }} {{ item.unitOfMeasurement }}
                ×
                {{ item.unitPrice }} RON

              </p>

            </div>

            <!-- TOTAL -->
            <div class="product-total">

              {{ item.lineTotal }} RON

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>