<!-- HERO -->
<div class="hero-section">

  <div class="hero-overlay"></div>

  <div class="hero-content">

    <h1>
      Produse proaspete direct de la fermieri locali
    </h1>

    <p>
      Descoperă legume,
      fructe, produse lactate și multe altele
    </p>

    <!-- SEARCH -->
    <div class="search-wrapper">

      <input class="search-input"
             [(ngModel)]="search"
             (input)="onSearchChange()"
             placeholder="Caută produse..." />

      <span class="search-icon">
        🔍
      </span>

      <!-- RESULTS -->
      <div *ngIf="searchResults.length"
           class="search-results">

        <a *ngFor="let p of searchResults"
           [routerLink]="['/products', p.id]"
           (click)="selectResult()"
           class="search-item">

          <!-- IMAGE -->
          <img *ngIf="p.productImages?.length"
               [src]="apiUrl + p.productImages[0]?.imageUrl">

          <!-- INFO -->
          <div>

            <h6>
              {{ p.name }}
            </h6>

            <span>
              {{ p.price }} RON
            </span>

          </div>

        </a>

      </div>

    </div>

  </div>

</div>

<!-- RECOMMENDED -->
<div class="container mt-5">

  <div class="section-header">

    <div>

      <h2>
        Produse Recomandate
      </h2>

    </div>

  </div>

  <!-- PRODUCTS -->
  <div class="products-grid">

    <a class="product-card"
         *ngFor="let p of products"
         [routerLink]="['/products', p.id]">

      <!-- IMAGE -->
      <div class="image-wrapper">

        <img *ngIf="p.productImages?.length"
             [src]="apiUrl + p.productImages[0]?.imageUrl">

        <!-- CATEGORY -->
        <span class="category-badge">
          {{ p.categoryName }}
        </span>

      </div>

      <!-- CONTENT -->
      <div class="product-content">

        <h5>
          {{ p.name }}
        </h5>

        <span class="stock-badge" [ngClass]="{
          'stock-high': p.quantity > 20,
          'stock-medium': p.quantity > 0 && p.quantity <= 20,
          'stock-low': p.quantity === 0
        }">

                {{ p.quantity === 0
                ? 'Stoc epuizat'
                : p.quantity + ' în stoc' }}

              </span>

        <!-- FOOTER -->
        <div class="product-footer">

          <div class="price">

            {{ p.price }} RON

            <span>
              / {{ p.unitOfMeasurement }}
            </span>

          </div>

        </div>

      </div>

    </a>

  </div>

</div>