<div class="admin-categories-page">

  <!-- HEADER -->
  <div class="page-header">

    <div>
      <h1>Gestionează Categoriile</h1>
    </div>

  </div>

  <!-- CREATE FORM -->
  <div class="create-card">

    <div class="form-header">
      <h3>Adaugă Categorie Nouă</h3>
      <p>Alege un nume și un icon pentru categorie</p>
    </div>

    <div class="create-form">

      <div class="form-group category-name-group">
        <label>Nume Categorie</label>

        <input class="modern-input"
               [(ngModel)]="newCategory"
               placeholder="Example: Fructe" />
      </div>

      <div class="form-group">
        <label>Icon</label>

        <input class="modern-input icon-input"
       [(ngModel)]="newCategoryIcon"
       maxlength="4"/>

      </div>

      <button class="add-btn"
              (click)="add()">

        Adaugă

      </button>

    </div>

  </div>

  <!-- CATEGORIES GRID -->
  <div class="categories-grid">

    <a class="category-card"
       *ngFor="let c of categories"
       [routerLink]="['/categories', c.id]">

      <div class="card-bg-circle"></div>

      <div class="category-top">

        <div class="category-icon">
          {{ c.icon || '🛒' }}
        </div>

        <div class="products-count">
          {{ c.productsCount || 0 }} produse
        </div>

      </div>

      <div class="category-content">

        <h3>
          {{ c.name }}
        </h3>

      </div>

    </a>

  </div>

</div>