<h2 class="mb-4 fw-bold">
  Gestionează Categoriile
</h2>

<!-- ADD CATEGORY -->
<div class="card shadow-sm border-0 rounded-4 p-3 mb-5">

  <div class="d-flex gap-2">

    <input class="form-control form-control-lg" [(ngModel)]="newCategory" placeholder="Categorie nouă" />

    <button class="btn btn-success px-4" (click)="add()">
      Adaugă
    </button>

  </div>

</div>

<!-- CATEGORIES GRID -->
<div class="categories-grid">

  <div class="category-card" *ngFor="let c of categories" [routerLink]="['/categories', c.id]">

    <div class="category-content">

      <!-- NAME -->
      <h5 class="mb-0">
        {{ c.name }}
      </h5>

      <p class="products-count mb-0 mt-2">
        {{ c.productsCount }} produse
      </p>

    </div>

  </div>

</div>