<div *ngIf="product" class="product-page">

  <div class="row g-5">

    <!-- LEFT -->
    <div class="col-lg-6">

      <!-- MAIN IMAGE -->
      <div class="main-image-wrapper">

        <img *ngIf="selectedImage"
             [src]="'https://localhost:7183' + selectedImage"
             class="main-image" />

        <!-- STOCK BADGE -->
        <div class="stock-badge"
             [ngClass]="{
               'in-stock': product.quantity > 10,
               'low-stock': product.quantity <= 10 && product.quantity > 0,
               'out-stock': product.quantity === 0
             }">

          {{
            product.quantity === 0
            ? 'Stoc epuizat'
            : product.quantity + ' în stoc'
          }}

        </div>

      </div>

      <!-- THUMBNAILS -->
      <div class="thumbnails">

        <img *ngFor="let img of product.productImages"
             [src]="'https://localhost:7183' + img.imageUrl"

             [class.active-thumb]="selectedImage === img.imageUrl"

             (click)="selectedImage = img.imageUrl"

             class="thumb-img" />

      </div>

    </div>

    <!-- RIGHT -->
    <div class="col-lg-6">

      <!-- TITLE -->
      <h1 class="product-title">

        {{ product.name }}

      </h1>

      <p>Vândut de: {{ product.farmerName }}</p>

      <!-- DESCRIPTION -->
      <p class="product-description">

        {{ product.description }}

      </p>

      <!-- PRICE -->
      <div class="price-box">

        {{ product.price }} RON

        <span>
          / {{ product.unitOfMeasurement }}
        </span>

      </div>

      <!-- QUANTITY SELECT -->
      <div *ngIf="authService.getUserRole() === 'Customer'"
           class="quantity-section">

        <label>
          Cantitate
        </label>

        <div class="quantity-controls">

          <button (click)="decreaseQty()">
            -
          </button>

          <span>
            {{ quantity }}
          </span>

          <button (click)="increaseQty()">
            +
          </button>

        </div>

      </div>

      <!-- ACTION -->
      <button *ngIf="authService.getUserRole() === 'Customer'"
              class="add-cart-btn"

              [disabled]="product.quantity === 0"

              (click)="addToCart()">

        🛒 Adaugă în coș

      </button>

    </div>

  </div>

</div>